.main {
    &__filter_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0;
        &__search, &__filter {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        &__search {
            position: relative;
            width: 20rem;
            height: 3rem;
            padding-left: 3.5rem;
            border-radius: 9px;
            overflow: hidden;
            .search_icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1rem;
                font-size: 2rem;
                opacity: 0.5;
            }
            input {
                padding: 0 1rem;
                height: 100%;
                width: 100%;
                border: none;
            }
        }
        &__search-dark-theme {
            background-color: #2B3844;
            .search_icon {
                color: #fff;
                opacity: 1;
            }
            input {
                background-color: #2B3844;
                color: #fff;
            }
            input::placeholder {
                color: #fff;
            }
        }
        &__search-light-theme {
            background-color: #fff;
            .search_icon {
                color: #000;
                opacity: 0.2;
            }
            input {
                background-color: #fff;
                color: #000;
            }
        }
        &__filter {
            position: relative;
            button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 12rem;
                height: 3rem;
                padding: 0 1rem;
                border-radius: 8px;
                border: none;
                
            }
            .region_panel {
                position: absolute;
                list-style: none;
                width: 100%;
                border-radius: 8px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                margin: 0.5rem 0;
                overflow: hidden;
                transition: all 250ms ease;
                padding: 0 !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                li {
                    line-height: 20px;
                    height: 1.5rem;
                    display: flex;
                    align-items: center;
                    transition: all 250ms ease;
                    padding: 0 1rem;
                    width: 100%;
                    cursor: pointer;
                }
                li:hover {
                    background-color:rgba(0, 0, 0, 0.1);
                }
            }
        }
        &__filter-light-theme {
            button {
                background-color: #fff;
                .filter_icon {
                    color: #000;
                }
            }
            .region_panel {
                background-color: #fff;
                li {
                    background-color: #fff;
                }
            }
        }
        &__filter-dark-theme {
            button {
                background-color: #2B3844;
                color: #fff;
                .filter_icon {
                    color: #fff;
                }
            }
            .region_panel {
                background-color: #2B3844;
                li {
                background-color: #2B3844;
                color: #fff;
                }
            }
        }
    }
}


@media screen and (max-width: 780px){
    .main {
        &__filter_bar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            &__search {
                margin: 2rem 0 3rem;
            }
            &__filter {
                margin: 0 0 2rem;
            }
        }
    }
} 