.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 3rem;
    background-color: #fff;
    box-shadow: 0 2px 15px -10px rgba(0, 0, 0, 0.2);
    &__theme_mode {
        button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
             span {
                 margin-left: 0.5rem
             }
        }
    }
}
@media screen and (min-width: 1440px) {
    .header {
        max-width: 1440px;
        margin: 0 auto;
    }
}