.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  padding: 0 3rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px -10px rgba(0, 0, 0, 0.2);
}

.header__theme_mode button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
}

.header__theme_mode button span {
  margin-left: 0.5rem;
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main__filter_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
}

.main__filter_bar__search, .main__filter_bar__filter {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main__filter_bar__search {
  position: relative;
  width: 20rem;
  height: 3rem;
  padding-left: 3.5rem;
  border-radius: 9px;
  overflow: hidden;
}

.main__filter_bar__search .search_icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1rem;
  font-size: 2rem;
  opacity: 0.5;
}

.main__filter_bar__search input {
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  border: none;
}

.main__filter_bar__search-dark-theme {
  background-color: #2B3844;
}

.main__filter_bar__search-dark-theme .search_icon {
  color: #fff;
  opacity: 1;
}

.main__filter_bar__search-dark-theme input {
  background-color: #2B3844;
  color: #fff;
}

.main__filter_bar__search-dark-theme input::-webkit-input-placeholder {
  color: #fff;
}

.main__filter_bar__search-dark-theme input:-ms-input-placeholder {
  color: #fff;
}

.main__filter_bar__search-dark-theme input::-ms-input-placeholder {
  color: #fff;
}

.main__filter_bar__search-dark-theme input::placeholder {
  color: #fff;
}

.main__filter_bar__search-light-theme {
  background-color: #fff;
}

.main__filter_bar__search-light-theme .search_icon {
  color: #000;
  opacity: 0.2;
}

.main__filter_bar__search-light-theme input {
  background-color: #fff;
  color: #000;
}

.main__filter_bar__filter {
  position: relative;
}

.main__filter_bar__filter button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 8px;
  border: none;
}

.main__filter_bar__filter .region_panel {
  position: absolute;
  list-style: none;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
  overflow: hidden;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__filter_bar__filter .region_panel li {
  line-height: 20px;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  padding: 0 1rem;
  width: 100%;
  cursor: pointer;
}

.main__filter_bar__filter .region_panel li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.main__filter_bar__filter-light-theme button {
  background-color: #fff;
}

.main__filter_bar__filter-light-theme button .filter_icon {
  color: #000;
}

.main__filter_bar__filter-light-theme .region_panel {
  background-color: #fff;
}

.main__filter_bar__filter-light-theme .region_panel li {
  background-color: #fff;
}

.main__filter_bar__filter-dark-theme button {
  background-color: #2B3844;
  color: #fff;
}

.main__filter_bar__filter-dark-theme button .filter_icon {
  color: #fff;
}

.main__filter_bar__filter-dark-theme .region_panel {
  background-color: #2B3844;
}

.main__filter_bar__filter-dark-theme .region_panel li {
  background-color: #2B3844;
  color: #fff;
}

@media screen and (max-width: 780px) {
  .main__filter_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  .main__filter_bar__search {
    margin: 2rem 0 3rem;
  }
  .main__filter_bar__filter {
    margin: 0 0 2rem;
  }
}

.main__countries_container__country_card {
  display: inline-block;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 264px;
  height: 336px;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.main__countries_container__country_card .flag {
  height: 160px;
}

.main__countries_container__country_card .flag img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__countries_container__country_card .text_wrapper {
  padding: 0 2rem 2rem;
}

.main__countries_container__country_card h2 {
  margin: 1.5rem 0;
}

.main__countries_container__country_card ul {
  list-style: none;
}

.main__countries_container__country_card ul li {
  line-height: 1.5rem;
}

.main__countries_container__country_card ul li span {
  font-weight: 600;
}

.main__countries_container__country_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main {
  min-height: 100vh;
}

.main__countries_container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 2rem;
  width: 100%;
}

@media screen and (min-width: 580px) {
  .main__countries_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 880px) {
  .main__countries_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .main__countries_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main {
  padding: 0 !important;
}

.main__more_information {
  height: calc(100vh - 9rem);
}

.main__more_information button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
  width: 7rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.main__more_information button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__more_information .information_wrapper img {
  max-width: 30rem;
  border-radius: 8px;
}

.main__more_information .information_wrapper .text_wrapper {
  width: 40rem;
}

.main__more_information .information_wrapper .text_wrapper h2 {
  font-size: 2rem;
  line-height: 5rem;
}

.main__more_information .information_wrapper .text_wrapper ul {
  list-style-type: none;
}

.main__more_information .information_wrapper .text_wrapper ul li {
  font-weight: 300;
}

.main__more_information .information_wrapper .text_wrapper ul .label {
  font-weight: 700;
  margin-right: 0.3rem;
}

.main__more_information .information_wrapper .text_wrapper .general {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-bottom: 4rem;
}

.main__more_information .information_wrapper .text_wrapper .general li {
  margin-bottom: 1rem;
}

.main__more_information .information_wrapper .text_wrapper .border_country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  margin: 0.5rem;
  background-color: white;
  color: #2B3844;
}

@media screen and (max-width: 720px) {
  .main__more_information .information_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__more_information .information_wrapper .text_wrapper {
    width: 100%;
  }
  .main__more_information .information_wrapper .text_wrapper .general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__more_information .borders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__more_information .borders .label {
    margin: 1rem 0;
  }
  .main__more_information .border_country {
    display: inline-block !important;
    padding: 0 0.5rem;
    margin: 0 0 1rem !important;
  }
}

@media screen and (min-width: 720px) {
  .main__more_information {
    padding: 0 4rem;
  }
  .main .borders {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .border_country {
    padding: 0 0.2rem;
  }
}

@media screen and (min-width: 1170px) {
  .main__more_information {
    padding: 0 !important;
  }
  .main__more_information .information_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__more_information .information_wrapper .text_wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .main__more_information .borders {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body h1 {
  font-weight: 700;
  font-size: 24px;
}

body h2 {
  font-size: 18px;
}

body .mode_text {
  font-size: 16px;
  font-weight: 600;
}

body .filter_text {
  font-weight: 400;
}

body input {
  outline: none;
}

body input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body input:focus:-ms-input-placeholder {
  opacity: 0;
}

body input:focus::-ms-input-placeholder {
  opacity: 0;
}

body input:focus::placeholder {
  opacity: 0;
}

body button {
  cursor: pointer;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.main_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
/*# sourceMappingURL=index.css.map */